{% extends 'profiles/base.html' %}

{% block content %}
    <div class="container">
        <div class="signup-form-wrapper">
            <h1 class="coral">Sign Up for BasketFriends!</h1>
            <h2>Please enter your details</h2>

            <form action='{% url "profiles:signup" %}' id="signup-form" method="post">
                {% csrf_token %}
                {{form}}
            </form>

            <button class="button_100 coral" form="signup-form" type="submit">
                Sign Up
            </button>
        </div>
    </div>
{% endblock %}