{% extends 'messaging/base.html'%}

{% block content %}
        <div class="signup-form-wrapper">
            <h1>Friends</h1>
            {% for friend in friends %}
            <div class="message-box friends row">
                <div class="sender-wrapper">
                   <span class="sender">{{ friend.name }}</span>
                </div>
                <div class="friends-button">
                    <button class="button_50 orange send-message-button" url="{{ friend.conversation }}" form="send-message" type="submit">
                    Send Message
                    </button>
                    <a href="{{ friend.delete_url }}" class="fa fa-times" aria-hidden="true" style="margin: 5px;"></a>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}

